[submodule "public/logic-circuits"]
	path = public/logic-circuits
	url = https://github.com/wanjawischmeier/logic-circuits
	branch = main

[submodule "public/fsm-engine"]
	path = public/fsm-engine
	url = https://github.com/aylinjosephine/fsm-engine.git
	branch = main
[submodule "public/docs"]
	path = public/docs
	url = https://github.com/wanjawischmeier/logic-easy-docs.git
