html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  --color-elevated: #999999;
  --color-surface-1: #b8b8b8;
  --color-surface-2: #d1d1d1;
  --color-surface-3: #ededed;
  --color-on-surface: black;
  --color-on-surface-disabled: var(--color-gray-400);
  --color-primary: var(--color-blue-500);
  --color-primary-variant: var(--color-blue-300);
  --color-secondary: var(--color-green-400);
  --color-secondary-variant: var(--color-green-300);
}

div {
  display: block;
}

button {
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin: 2px;
  font-size: 12px;
  font: Arial;
  border: none;
  min-width: 150px;
  background-color: var(--color-surface-2);
  color: var(--color-on-surface);
}

button:hover {
  background-color: var(--color-surface-3);
  transition-duration: 0s;
}

button:active {
  background-color: rgb(100, 200, 50);
  transition-duration: 0s;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#side-menu {
  height: 100%;
  width: 100px;
  position: fixed;
  left: 0px;
  top: 0px;
  background: var(--color-elevated);
  border-right: 1px solid var(--color-surface-3);
  padding: 5px;
  overflow-x: visible;
  overflow-y: visible;
  z-index: 100;
}

#top-menu {
  height: 80px;
  left: 111px;
  top: 0px;
  right: 0px;
  position: fixed;
  background: var(--color-elevated);
  border-bottom: 1px solid var(--color-surface-3);
  z-index: 100;
}

#simulator {
  position: fixed;
  left: 110px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  transform: scale(1);
  transform-origin: 0px 0px;
}

.description {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: transparent;
  font-family: monospace;
  position: absolute;
  padding: 0px;
}

.description:hover {
  border-color: black;
}

.context {
  background-color: var(--color-surface-2);
  padding: 5px;
}

.context:hover {
  background-color: rgb(170, 255, 50);
}

#circuit {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.component {
  cursor: pointer;
  height: auto;
  width: auto;
  position: absolute;
  z-index: 20;
}

.input,
.output {
  width: 2px;
  height: 2px;
  background-color: black;
  position: absolute;
  cursor: pointer;
  border: 2px solid;
  z-index: 5;
}

.numberTextfield {
  text-align: center;
  border: 0px solid black;
  max-width: 48px;
  top: 0px;
  left: 0px;
  padding: 0px;
  position: absolute;
}

.selector {
  cursor: pointer;
  width: 90px;
  height: 40px;
  border: 3px solid var(--color-surface-3);
  background: var(--color-surface-2);
  margin-top: 100px;
  margin: 0 auto;
  position: fixed;
}

.wire {
  position: absolute;
  height: 3px;
  background: black;
  z-index: 10;
  cursor: pointer;
}

.wireNode {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 0px solid black;
  background-color: black;
  z-index: 15;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 200;
  top: 0px;
  left: 0px;
}

.modalContent {
  background-color: var(--color-surface-3);
  margin: auto;
  position: absolute;
  align-self: center;
  border: 3px solid;
  padding: 20px;
}

.selectorText {
  color: var(--color-on-surface);
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  cursor: pointer;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  cursor: pointer;
}

.GateLabel {
  cursor: pointer;
  margin: auto;
  color: black;
  font-size: 70px;
  font-family: arial;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
}

.subGateLabel {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
}

.Extender {
  width: 0px;
  height: 0px;
  cursor: pointer;
  position: absolute;
  top: 39px;
  left: 79px;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid var(--color-primary);
  border-bottom: 5px solid var(--color-primary-variant);
}

.Segment {
  border: 2px solid lightgray;
  position: absolute;
  width: 0px;
  height: 20px;
}
