@layer base {
  html,
  body {
    overflow: hidden;
    overscroll-behavior: none;
  }

  #app {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  button {
    @apply px-2 pb-1 pt-0.5 rounded text-on-surface;
  }
  select {
    @apply px-2 py-1 rounded bg-surface-2 text-on-surface border border-surface-3;
  }
}
