@layer components {
  .header-menu-btn {
    @apply px-2 py-1 hover:bg-surface-2 focus:outline-none;

    @variant contrast-more {
      border-radius: 2px;
      background-color: green;
    }
  }

  .slider {
    background-color: var(--color-primary);
  }

  .prime-highlight-left {
    box-shadow: inset 2px 0 0 0 var(--color-secondary), 
                inset 0 2px 0 0 var(--color-secondary), 
                inset 0 -2px 0 0 var(--color-secondary);
  }

  .prime-highlight-right {
    box-shadow: inset -2px 0 0 0 var(--color-secondary), 
                inset 0 2px 0 0 var(--color-secondary), 
                inset 0 -2px 0 0 var(--color-secondary);
  }
}
