@import "tailwindcss";

@font-face {
  font-family: "github";
  src: url("/fonts/github_font.ttf");
}
@theme {
  --font-github: github;
  --color-primary-bg: #1e1e1e;
  --color-secondary-bg: #2c2c2c;

  --color-border-bg: #414141;

  --color-primary-fg: #171717;
  --color-secondary-fg: #e5e9f0;
  --color-teritiary-fg: #eceff4;

  --color-text-primary: #ffffff;

  --color-input-active: #b1b1b1;
}

#body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-0 -0 10 10'%3E%3Cpath d='M 0 1 L 10 1 M 1 0 L 1 10' stroke='%23404040' stroke-dasharray='1' stroke-width='0.3' /%3E%3C/svg%3E");
  background-size: 30px 30px;
}

/* Dark Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-corner {
  background: #1e1e1e;
}
